<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you_fuli.spiderFilm.dao.mapperJava.SpiderCinemalistMapper">
  <resultMap id="BaseResultMap" type="com.you_fuli.spiderFilm.dto.SpiderCinemalist">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cinemaId" jdbcType="VARCHAR" property="cinemaid" />
    <result column="cinemaName" jdbcType="VARCHAR" property="cinemaname" />
    <result column="cinemaLogo" jdbcType="VARCHAR" property="cinemalogo" />
    <result column="cinemaAdd" jdbcType="VARCHAR" property="cinemaadd" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="getTicketWay" jdbcType="VARCHAR" property="getticketway" />
    <result column="cityId" jdbcType="VARCHAR" property="cityid" />
    <result column="regionId" jdbcType="VARCHAR" property="regionid" />
    <result column="endbuyDate" jdbcType="VARCHAR" property="endbuydate" />
    <result column="presaleDay" jdbcType="VARCHAR" property="presaleday" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cinemaId, cinemaName, cinemaLogo, cinemaAdd, contact, getTicketWay, cityId, regionId, 
    endbuyDate, presaleDay, longitude, latitude
  </sql>
  <select id="selectByExample" parameterType="com.you_fuli.spiderFilm.dto.SpiderCinemalistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Spider_cinemaList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Spider_cinemaList
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from Spider_cinemaList
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.you_fuli.spiderFilm.dto.SpiderCinemalistExample">
    delete from Spider_cinemaList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.you_fuli.spiderFilm.dto.SpiderCinemalist">
    insert into Spider_cinemaList (id, cinemaId, cinemaName, 
      cinemaLogo, cinemaAdd, contact, 
      getTicketWay, cityId, regionId, 
      endbuyDate, presaleDay, longitude, 
      latitude)
    values (#{id,jdbcType=BIGINT}, #{cinemaid,jdbcType=VARCHAR}, #{cinemaname,jdbcType=VARCHAR}, 
      #{cinemalogo,jdbcType=VARCHAR}, #{cinemaadd,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{getticketway,jdbcType=VARCHAR}, #{cityid,jdbcType=VARCHAR}, #{regionid,jdbcType=VARCHAR}, 
      #{endbuydate,jdbcType=VARCHAR}, #{presaleday,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.you_fuli.spiderFilm.dto.SpiderCinemalist">
    insert into Spider_cinemaList
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cinemaid != null">
        cinemaId,
      </if>
      <if test="cinemaname != null">
        cinemaName,
      </if>
      <if test="cinemalogo != null">
        cinemaLogo,
      </if>
      <if test="cinemaadd != null">
        cinemaAdd,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="getticketway != null">
        getTicketWay,
      </if>
      <if test="cityid != null">
        cityId,
      </if>
      <if test="regionid != null">
        regionId,
      </if>
      <if test="endbuydate != null">
        endbuyDate,
      </if>
      <if test="presaleday != null">
        presaleDay,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cinemaid != null">
        #{cinemaid,jdbcType=VARCHAR},
      </if>
      <if test="cinemaname != null">
        #{cinemaname,jdbcType=VARCHAR},
      </if>
      <if test="cinemalogo != null">
        #{cinemalogo,jdbcType=VARCHAR},
      </if>
      <if test="cinemaadd != null">
        #{cinemaadd,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="getticketway != null">
        #{getticketway,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="regionid != null">
        #{regionid,jdbcType=VARCHAR},
      </if>
      <if test="endbuydate != null">
        #{endbuydate,jdbcType=VARCHAR},
      </if>
      <if test="presaleday != null">
        #{presaleday,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.you_fuli.spiderFilm.dto.SpiderCinemalistExample" resultType="java.lang.Long">
    select count(*) from Spider_cinemaList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Spider_cinemaList
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cinemaid != null">
        cinemaId = #{record.cinemaid,jdbcType=VARCHAR},
      </if>
      <if test="record.cinemaname != null">
        cinemaName = #{record.cinemaname,jdbcType=VARCHAR},
      </if>
      <if test="record.cinemalogo != null">
        cinemaLogo = #{record.cinemalogo,jdbcType=VARCHAR},
      </if>
      <if test="record.cinemaadd != null">
        cinemaAdd = #{record.cinemaadd,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null">
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.getticketway != null">
        getTicketWay = #{record.getticketway,jdbcType=VARCHAR},
      </if>
      <if test="record.cityid != null">
        cityId = #{record.cityid,jdbcType=VARCHAR},
      </if>
      <if test="record.regionid != null">
        regionId = #{record.regionid,jdbcType=VARCHAR},
      </if>
      <if test="record.endbuydate != null">
        endbuyDate = #{record.endbuydate,jdbcType=VARCHAR},
      </if>
      <if test="record.presaleday != null">
        presaleDay = #{record.presaleday,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Spider_cinemaList
    set id = #{record.id,jdbcType=BIGINT},
      cinemaId = #{record.cinemaid,jdbcType=VARCHAR},
      cinemaName = #{record.cinemaname,jdbcType=VARCHAR},
      cinemaLogo = #{record.cinemalogo,jdbcType=VARCHAR},
      cinemaAdd = #{record.cinemaadd,jdbcType=VARCHAR},
      contact = #{record.contact,jdbcType=VARCHAR},
      getTicketWay = #{record.getticketway,jdbcType=VARCHAR},
      cityId = #{record.cityid,jdbcType=VARCHAR},
      regionId = #{record.regionid,jdbcType=VARCHAR},
      endbuyDate = #{record.endbuydate,jdbcType=VARCHAR},
      presaleDay = #{record.presaleday,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.you_fuli.spiderFilm.dto.SpiderCinemalist">
    update Spider_cinemaList
    <set>
      <if test="cinemaid != null">
        cinemaId = #{cinemaid,jdbcType=VARCHAR},
      </if>
      <if test="cinemaname != null">
        cinemaName = #{cinemaname,jdbcType=VARCHAR},
      </if>
      <if test="cinemalogo != null">
        cinemaLogo = #{cinemalogo,jdbcType=VARCHAR},
      </if>
      <if test="cinemaadd != null">
        cinemaAdd = #{cinemaadd,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="getticketway != null">
        getTicketWay = #{getticketway,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        cityId = #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="regionid != null">
        regionId = #{regionid,jdbcType=VARCHAR},
      </if>
      <if test="endbuydate != null">
        endbuyDate = #{endbuydate,jdbcType=VARCHAR},
      </if>
      <if test="presaleday != null">
        presaleDay = #{presaleday,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.you_fuli.spiderFilm.dto.SpiderCinemalist">
    update Spider_cinemaList
    set cinemaId = #{cinemaid,jdbcType=VARCHAR},
      cinemaName = #{cinemaname,jdbcType=VARCHAR},
      cinemaLogo = #{cinemalogo,jdbcType=VARCHAR},
      cinemaAdd = #{cinemaadd,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      getTicketWay = #{getticketway,jdbcType=VARCHAR},
      cityId = #{cityid,jdbcType=VARCHAR},
      regionId = #{regionid,jdbcType=VARCHAR},
      endbuyDate = #{endbuydate,jdbcType=VARCHAR},
      presaleDay = #{presaleday,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>