<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you_fuli.spiderFilm.dao.mapperJava.SpiderHalllistMapper">
  <resultMap id="BaseResultMap" type="com.you_fuli.spiderFilm.dto.SpiderHalllist">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hallId" jdbcType="VARCHAR" property="hallid" />
    <result column="hallName" jdbcType="VARCHAR" property="hallname" />
    <result column="cinemaId" jdbcType="VARCHAR" property="cinemaid" />
    <result column="hallType" jdbcType="VARCHAR" property="halltype" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, hallId, hallName, cinemaId, hallType
  </sql>
  <select id="selectByExample" parameterType="com.you_fuli.spiderFilm.dto.SpiderHalllistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Spider_hallList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Spider_hallList
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from Spider_hallList
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.you_fuli.spiderFilm.dto.SpiderHalllistExample">
    delete from Spider_hallList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.you_fuli.spiderFilm.dto.SpiderHalllist">
    insert into Spider_hallList (id, hallId, hallName, 
      cinemaId, hallType)
    values (#{id,jdbcType=BIGINT}, #{hallid,jdbcType=VARCHAR}, #{hallname,jdbcType=VARCHAR}, 
      #{cinemaid,jdbcType=VARCHAR}, #{halltype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.you_fuli.spiderFilm.dto.SpiderHalllist">
    insert into Spider_hallList
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hallid != null">
        hallId,
      </if>
      <if test="hallname != null">
        hallName,
      </if>
      <if test="cinemaid != null">
        cinemaId,
      </if>
      <if test="halltype != null">
        hallType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hallid != null">
        #{hallid,jdbcType=VARCHAR},
      </if>
      <if test="hallname != null">
        #{hallname,jdbcType=VARCHAR},
      </if>
      <if test="cinemaid != null">
        #{cinemaid,jdbcType=VARCHAR},
      </if>
      <if test="halltype != null">
        #{halltype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.you_fuli.spiderFilm.dto.SpiderHalllistExample" resultType="java.lang.Long">
    select count(*) from Spider_hallList
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Spider_hallList
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.hallid != null">
        hallId = #{record.hallid,jdbcType=VARCHAR},
      </if>
      <if test="record.hallname != null">
        hallName = #{record.hallname,jdbcType=VARCHAR},
      </if>
      <if test="record.cinemaid != null">
        cinemaId = #{record.cinemaid,jdbcType=VARCHAR},
      </if>
      <if test="record.halltype != null">
        hallType = #{record.halltype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Spider_hallList
    set id = #{record.id,jdbcType=BIGINT},
      hallId = #{record.hallid,jdbcType=VARCHAR},
      hallName = #{record.hallname,jdbcType=VARCHAR},
      cinemaId = #{record.cinemaid,jdbcType=VARCHAR},
      hallType = #{record.halltype,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.you_fuli.spiderFilm.dto.SpiderHalllist">
    update Spider_hallList
    <set>
      <if test="hallid != null">
        hallId = #{hallid,jdbcType=VARCHAR},
      </if>
      <if test="hallname != null">
        hallName = #{hallname,jdbcType=VARCHAR},
      </if>
      <if test="cinemaid != null">
        cinemaId = #{cinemaid,jdbcType=VARCHAR},
      </if>
      <if test="halltype != null">
        hallType = #{halltype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.you_fuli.spiderFilm.dto.SpiderHalllist">
    update Spider_hallList
    set hallId = #{hallid,jdbcType=VARCHAR},
      hallName = #{hallname,jdbcType=VARCHAR},
      cinemaId = #{cinemaid,jdbcType=VARCHAR},
      hallType = #{halltype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>